* {
    /* reet rules */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* font */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
}

body {
    height: 100%;
    background: linear-gradient(45deg, var(--primary), var(--darker), var(--secondary));
    background-repeat: no-repeat;
    background-size: cover;
}

/* Colors */
:root {
    --primary: #00ffd2;
    --secondary: #ff4499;
    --darkest: #000000;
    --darker: #0a0047;
    --dark: #004687;
    --lightest: #ffffff;
    ;
}

/* Utility */

.container {
    width: 1200px;
    margin: 3rem auto;
}

.pointer:hover {
    cursor: pointer;
}

button {
    font-size: 2rem;
    padding: 1.5rem 1.7rem;
    background: none;
    border-color: var(--secondary);
}

/* Main */

.jumbo {
    text-align: center;

    h1 {
        font-size: 5rem;
        text-shadow: 5px -10px 25px var(--secondary);
        padding: 2rem;
    }
}

.banner {
    padding: 2rem 0 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table {
    margin: 2rem 0;
    background: linear-gradient(45deg, var(--secondary), var(--darker), var(--primary));
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--lightest);
    box-shadow: 0 0 20px var(--lightest);
    display: flex;
    flex-wrap: wrap;

    .cell {
        width: calc(100% / 4);
        aspect-ratio: 1;
        font-size: 9rem;
        border: 1px solid var(--lightest);
        box-shadow: 0 0 20px var(--lightest);

        display: flex;
        justify-content: center;
        align-items: center;


        .memory_card {
            width: calc(100% - 3rem);
            aspect-ratio: 1;
            box-shadow:
                0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23),
                0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23),
                inset 10px 10px 10px rgba(255, 255, 255, 0.3),
                inset 10px 10px 15px rgba(255, 255, 255, 0.2),
                inset -5px -2px 10px rgba(255, 255, 255, 0.3);
            border: 1px solid var(--darkest);
            border-radius: 10%;

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;


            .back,
            .front {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 7rem;
                color: var(--dark);
                transition: transform 0.6s ease;
                backface-visibility: hidden;
            }

            .back {
                transform: rotateY(180deg);
                display: none;
            }
        }
    }
}

/* Modal */
.modal {
    backdrop-filter: blur(0.2rem);
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    transform: translateY(100%);
    transition: all 270ms ease-in;

    .modal-container {
        align-items: center;
        background-color: var(--dark);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        height: 12rem;
        justify-content: center;
        max-width: 20rem;
        padding: 1rem;
        width: 100%;

        .modal-title {
            color: var(--secondary);
            font-size: 2rem;
            margin-bottom: 1rem;
        }

    }

}

.modal--open {
    opacity: 1;
    transform: translateY(0);
}