/* General rules */
* {
    /* reet rules */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* font */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
}

body {
    height: 100%;
    background: linear-gradient(45deg, var(--primary), var(--darker), var(--secondary));
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
}

body::before,
.modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 85%, rgb(15, 15, 15) 100%);
    /* Non interferire con il click sugli elementi */
    pointer-events: none;
    z-index: 0;
}

/* Colors */
:root {
    --primary: #00ffd2;
    --secondary: #ff4499;
    --darkest: #000000;
    --darker: #0a0047;
    --dark: #004687;
    --lightest: #ffffff;
    ;
}

/* Utility */

.container {
    width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cen
}

.pointer:hover {
    cursor: pointer;
}

button {
    font-size: 2rem;
    padding: 1.5rem 1.7rem;
    background: none;
    border-color: var(--secondary);
    border-radius: 0.5rem;
}

button:hover {
    box-shadow: 0 0 10px var(--secondary),
        0 0 20px var(--secondary);

    text-shadow: 0 0 43px var(--darker),
        10px 0 30px var(--primary);
}

/* Main */

.jumbo {
    text-align: center;

    h1 {
        font-size: 4rem;
        text-shadow: 5px -10px 25px var(--secondary);
        padding: 1.5rem;
    }

    img {
        width: 500px;
        padding-top: 3rem;
    }
}

.banner {
    width: 100%;
    padding: 1.5em 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table {
    width: 100%;
    margin: 1rem 0 4.3rem;
    background: linear-gradient(45deg, var(--secondary), var(--darker), var(--primary));
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--lightest);
    box-shadow: 0 0 20px var(--lightest);
    display: flex;
    flex-wrap: wrap;

    .cell {
        width: calc(100% / 4);
        aspect-ratio: 1;
        font-size: 9rem;
        border: 1px solid var(--lightest);
        box-shadow: 0 0 20px var(--lightest);

        display: flex;
        justify-content: center;
        align-items: center;

        .memory_card {
            width: calc(100% - 3rem);
            aspect-ratio: 1;
            box-shadow:
                0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23),
                0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23),
                inset 10px 10px 10px rgba(255, 255, 255, 0.3),
                inset 10px 10px 15px rgba(255, 255, 255, 0.2),
                inset -5px -2px 10px rgba(255, 255, 255, 0.3);
            border: 1px solid var(--darkest);
            border-radius: 10%;

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            .back,
            .front {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 7rem;
                color: var(--dark);
                transition: transform 0.6s ease;
                backface-visibility: hidden;
            }
        }
    }
}

.memory_card .front {
    transform: rotateY(0deg);
}

.memory_card .back {
    transform: rotateY(180deg);
}

.memory_card.is-flipped .front {
    transform: rotateY(180deg);
}

.memory_card.is-flipped .back {
    transform: rotateY(0);
}

.memory_card:not(.is-flipped):hover {
    transform: scale(1.1);
    border: 1.5px solid var(--dark);
    box-shadow:
        0 3px 6px rgba(0, 255, 210, 1),
        0 3px 6px rgba(0, 255, 210, 0.7),
        0 10px 20px rgba(0, 255, 210, 0.5),
        0 6px 6px rgba(0, 255, 210, 0.3),
        inset 10px 10px 10px rgba(255, 68, 153, 0.7),
        inset 10px 10px 15px rgba(255, 68, 153, 0.5),
        inset -5px -2px 10px rgba(255, 68, 153, 0.3);
    transition: box-shadow 0.3s ease;
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;

    background-color: #004687d5;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 270ms ease-in, transform 270ms ease-in;

    .modal-container {
        width: 50%;
        padding: 5rem;
        background-color: #090047aa;
        border-radius: 1rem;
        border: 3px solid var(--primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .modal-title {
            color: var(--secondary);
            font-size: 3rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }

        .modal-errors {
            font-size: 1.5rem;
            padding-bottom: 1.5rem;

        }
    }
}

.modal-open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 10000;
}